@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    --red: #da3330;
    --redlight: #f2969e;
    --white: #fff;
    --black: #000;
    --grey: #f4f4f4;
}

body {
    min-height: 100vh;
    overflow-x: hidden;
}

.container {
    position: relative;
    width: 100%;
}

.navigation {
    position: fixed;
    width: 300px;
    height: 100%;
    background-image: linear-gradient(to bottom, #d92d2b, #da3330, #dc3934, #dd3f39, #de443d, #e25147, #e65d52, #e9685c, #ee7c6f, #f38e82, #f6a196, #f9b3aa);
    border-left: 10px solid var(--red);
    border-image-source: linear-gradient(to bottom, #d92d2b, #da3330, #dc3934, #dd3f39, #de443d, #e25147, #e65d52, #e9685c, #ee7c6f, #f38e82, #f6a196, #f9b3aa);;
    transition: 0.5s;
    overflow: hidden;
}

.navigation.active {
    width: 80px;
}

.navigation ul {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.navigation ul li {
    position: relative;
    width: 100%;
    list-style: none;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

.navigation ul li:hover{
    background: var(--white);

}

.navigation ul li:nth-child(1) {
    margin-bottom: 40px;
    pointer-events: none;
}

.navigation ul li a {
    position: relative;
    display: block;
    width: 100%;
    display: flex;
    text-decoration: none;
    color: var(--white);
}

.navigation ul li:hover a{
    color: var(--red);
}

.navigation ul li a .icon {
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
} 

.navigation ul li a .icon .fa-solid {
    font-size: 1.2em;
}

.navigation ul li:hover .title,
.navigation ul li a .icon:hover .fa-solid {
    transition: transform 0.5s;
    transform: scale(1.1);
}

.navigation ul li a .title {
    position: relative;
    display: block;
    padding: 0 10px;
    line-height: 60px;
    text-align: start;
    white-space: nowrap;
}

.navigation ul li:hover a::before
{
    content:  '';
    position: absolute;
    right: 0;
    top: -50px;
    width: 50px;
    height: 50px;
    background: transparent;
    border-radius: 50%;
    box-shadow: 35px 35px 0 10px var(--white);
    pointer-events: none;
}

.navigation ul li:hover a::after
{
    content:  '';
    position: absolute;
    right: 0;
    bottom: -50px;
    width: 50px;
    height: 50px;
    background: transparent;
    border-radius: 50%;
    box-shadow: 35px -35px 0 10px var(--white);
    pointer-events: none;
}

.navigation ul li img {
    width: 10em;
    margin: 20px;
    position: relative;
    align-items: center;
    transition: 0.5s;
}

.navigation.active ul li img {
    width: 3em;
    margin: 5px;
    margin-top: 1.5em;
    position: relative;
    align-items: center;
    transition: 0.5s;
}
/******************* NAV BAR ********************/
.main {
    position: absolute;
    width: calc(100% - 300px);
    left: 300px;
    min-height: 100vh;
    background: var(--white);
    transition: 0.5s;
}

.main.active {
    width: calc(100% - 80px);
    left: 80px;
}

.topbar {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    background: var(--white);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.toggle {
    position: relative;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    cursor: pointer;
}

.user {
    position: relative;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    cursor: pointer;
    color: var(--black);
}
/******************* DASHBOARD: HOME ********************/
.home {
    position: absolute;
    width: calc(100% - 300px);
    left: 300px;
    min-height: calc(100vh - 70px);
    top: 70px;
    transition: 0.5s;
}

.home.active {
    width: calc(100% - 80px);
    left: 80px;
}

.cardBox {
    position: relative;
    width: 100%;
    padding: 20px;
    padding-top: -20px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 20px;
}

.cardBox .card {
    position: relative;
    background-image: linear-gradient(to right bottom, #d92d2b, #da3330, #dc3934, #dd3f39, #de443d, #e25147, #e65d52, #e9685c, #ee7c6f, #f38e82, #f6a196, #f9b3aa);
    padding: 30px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.2);
}

.cardBox .card .number {
    position: relative;
    font-weight: 600;
    font-size: 2.5em;
    color: var(--white);
}

.cardBox .card .cardName {
    color: var(--white);
    font-size: 0.9em;
}

.cardBox .card .iconBox {
    font-size: 2.5em;
    color: var(--white);
}

.cardBox .card:hover {
    background: white;
    transition: 0.5s;
}

.cardBox .card:hover .number,
.cardBox .card:hover .cardName,
.cardBox .card:hover .iconBox {
    background: -webkit-linear-gradient(#d92d2b, #da3330, #dc3934, #dd3f39, #de443d, #e25147, #e65d52, #e9685c, #ee7c6f, #f38e82, #f6a196, #f9b3aa);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: 0.5s;
}

/******************* DONOR ********************/

main.table {
    width: 100%;
    height: 90vh;
    overflow: hidden;
}

table {
    width: 100%;
}

table, th, td {
    border-collapse: collapse;
    padding: 16px;
}

.table-header {
    padding: 20px;
    padding-left: 50px;
    width: 100%;
    padding: 10px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/**SEARCH**/
.table-header .search {
    align-items: center;
    justify-content: center;
    float: right;
    display: flex;
    border-radius: 20px;
    padding: 8px 20px;
    border: 1.2px solid var(--grey);
}

.table-header .search input{
    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
    font-size: 14px;
    color: var(--black);
}
.table-header .search button{
    border: 0;
    cursor: pointer;
    background: var(--white);
}

/**SEARCH**/

.table-body {
    width: 95%;
    max-height: calc(89% - 10px);
    margin: 10px auto;
    border-radius: 9.6px;
    overflow: auto;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
  }

.table-body::-webkit-scrollbar{
    width: 8px;
    height: 8px;
}

.table-body::-webkit-scrollbar-thumb{
    border-radius: 8px;
    background-color: #0004;
    visibility: hidden;
}

.table-body:hover::-webkit-scrollbar-thumb{
    visibility: visible;
}

thead th {
    position: sticky;
    top: 0;
    left: 0;
    background-color: var(--red);
    color: var(--white);
    font-size: 15px;
    font-weight: 600;
    text-align: center;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

tbody tr:nth-child(even) {
    background-color: #0000000b;
}

tbody tr:hover {
    background-color: rgba(199, 198, 198, 0.4);
}

tbody td {
    font-size: 13px;
    text-align: center;
}

tbody .donor-btn{
    align-items: center;
    justify-content: center;
    background: var(--red);
    color: var(--white);
    width: 30px;
    height: 20px;
    font-size: 12px;
    border: none;
    border-radius: 5px;
}

tbody .donor-btn:hover {
    transition: transform .3s ease-in;
    transform: scale(1.2);
    cursor: pointer;
}

/******************* REQUEST ********************/

tbody td .btn-approve,
tbody td .btn-decline
{
    margin-right: 4px;
}

tbody .btn-approve{
    align-items: center;
    justify-content: center;
    background: linear-gradient(109.6deg, rgb(0, 204, 130) 11.2%, rgb(58, 181, 46) 91.7%);
    color: var(--white);
    width: 60px;
    height: 30px;
    font-size: 10px;
    border: none;
    border-radius: 5px;
}

tbody .btn-decline {
    align-items: center;
    justify-content: center;
    background: linear-gradient(to top left, #d92d2b, #da3330, #dc3934, #dd3f39, #de443d, #e25147, #e65d52, #e9685c, #ee7c6f);
    color: var(--white);
    width: 60px;
    height: 30px;
    font-size: 10px;
    border: none;
    border-radius: 5px;
}

tbody .btn-approve:hover,
tbody .btn-decline:hover {
    transition: transform .3s ease-in;
    transform: scale(1.1);
    cursor: pointer;
}